bcrypt==5.0.0
blinker==1.9.0
Bootstrap-Flask==2.5.0
brotli==1.2.0
cachelib==0.13.0
certifi==2026.1.4
cffi==2.0.0
click==8.3.1
cloudinary==1.44.1
colorama==0.4.6
cssselect2==0.8.0
dnspython==2.8.0
email-validator==2.3.0
Flask==3.1.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
fonttools==4.61.1
greenlet==3.3.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
msgspec==0.20.0
pillow==12.1.0
psycopg2-binary==2.9.11
pycparser==2.23
pydyf==0.12.1
pyphen==0.17.2
six==1.17.0
SQLAlchemy==2.0.45
tinycss2==1.5.1
tinyhtml5==2.0.0
typing_extensions==4.15.0
urllib3==2.6.3
weasyprint==68.0
webencodings==0.5.1
Werkzeug==3.1.4
WTForms==3.2.1
zopfli==0.4.0
