{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Actualizar Precios por IPC</h1>

<form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3" style="width: 30%;">
        {{ form.ipc_porcentaje.label(class="form-label") }}
        {{ form.ipc_porcentaje(class="form-control") }}
    </div>

    {{ form.submit(class="btn btn-success") }}
</form>
<br>
<div class="mb-4">
    <a href="{{ url_for('precios_historial') }}" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Volver a Historial de Precios
    </a>
</div>


{% endblock %}