{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">{{ titulo }}</h1>

<form method="POST">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form.nombre.label(class="form-label") }}
            {{ form.nombre(class="form-control") }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form.apellido.label(class="form-label") }}
            {{ form.apellido(class="form-control") }}
        </div>
    </div>
    <div class="mb-3">
        {{ form.clinica_particular.label(class="form-label") }}
        {{ form.clinica_particular(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.direccion.label(class="form-label") }}
        {{ form.direccion(class="form-control") }}
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            {{ form.telefono.label(class="form-label") }}
            {{ form.telefono(class="form-control") }}
        </div>
        <div class="col-md-6 mb-3">
            {{ form.cuit.label(class="form-label") }}
            {{ form.cuit(class="form-control") }}
        </div>
    </div>
    <div class="mb-3">
        {{ form.medio_pago.label(class="form-label") }}
        {{ form.medio_pago(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-success btn-lg") }}
    <a href="{{ url_for('doctores') }}" class="btn btn-secondary btn-lg ms-2">Cancelar</a>
</form>
{% endblock %}